@import "tailwindcss";
body {
  text-align: center;
  padding: 1rem;
  background-color: #F2DFCE;
}
/* ==================================================================================================== */

.grid-container {
  display: grid;
  gap: .35rem;
  grid-template-columns: 1fr;
  max-width: 1520px;
  margin: auto;
}
.grid-container.black {
  background-color: black;
}

.widget {
  container-type: inline-size;
  background-color: #F2DFCE;
  min-height: 10rem;
  text-align: left;
}

@media only screen and (min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ==================================================================================================== */
